.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loader img {
  animation-name: spin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
